/* 기본 스타일 */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.chat-list {
  flex: 1;
  max-height: 500px;
  width: 100%;
  overflow-y: auto;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message {
  margin-bottom: 10px;
  white-space: pre-wrap;
}

.user-icon {
  margin-right: 10px;
}

.message-bubble {
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 5px;
  font-size: 19px;
}

.user-message .message-bubble {
  background-color: #e2ffe2;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.message {
  display: flex;
  align-items: center;
}

input[type="text"] {
  width: calc(100% - 40px);
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  font-family: "SOYO Maple Regular";
  box-sizing: border-box;
}

.chat-input {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
}

.chat-input.slide-down {
  transition: transform 0.4s ease-in-out;
}

/* PC 버전 스타일 */
@media screen and (min-width: 801px) {
  .chat-container {
    width: 800px;
    height: 100%;
  }

  .chat-list {
    max-height: 500px;
    height: auto;
    width: 720px;
    overflow-y: auto;
    margin-top: -270px;
    margin-left: 50px;
    border: none; 
  }

  .title {
    position: fixed;
    margin-top: -120px;
    margin-left: 50px;
    
  }

  .chat-input {
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;
    height: 50px;
    width: 700px;
    transform: translateY(-100%);
    border: none; 
  }

  .chat-input.slide-down {
    transform: translateY(300%);
  }
}

/* 모바일 버전 스타일 */
@media screen and (max-width: 800px) {
  .chat-container {
    width: 90%;
    margin: 0 auto;
    
  }

  .chat-list {
    width: 100%;
    margin: 0 auto;
    max-height: 300px;
    border: none; 
    
  }

  .title {
    margin-left: 0;
  }

  .chat-input {
    width: 90%;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: none; 
  }
}