.app {
  display: block;
}

.logo {
  width: 100px;
  height: auto;
  margin: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


input[type="text"] {
  width: calc(100% - 80px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #2e7d60; /* 변경된 기본 색상 */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0a5242;
}

.mainlogo {
  opacity: 0;
}

.fade-in-slide {
  animation: fade-in-slide-animation 1s ease forwards;
}

@keyframes fade-in-slide-animation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.robot-container {
  position: absolute;
  bottom: 50px; /* 원하는 위치로 조정하세요 */
  left: 55%;
  transform: translateX(-50%);
}
