.chat-container {
  width: 600px;
  height: 88%;
  overflow: auto;
}


.chat-list {
  width: auto;
  height: 550px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
}

.message {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
}

.chat-input {
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  color: #333;
}

/* 로딩 스피너 스타일 */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.disabled-input {
  opacity: 0.5;
}