/* @font-face 및 body 스타일은 그대로 유지됩니다. */

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chat-container {
  width: 800px;
  height: 150%;
  overflow: auto;
}

.chat-list {
  position: fixed;
  max-height: 500px;
  height: 500px;
  width: 720px;
  overflow-y: auto;
  margin-top: -270px;
  margin-left: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: none;
}

.message {
  margin-bottom: 10px;
}

.user-icon {
  margin-right: 10px;
}

.message-bubble {
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 5px;
  font-size: 19px;
}

.user-message .message-bubble {
  background-color: #e2ffe2;
}

.title {
  position: fixed;
  margin-top: -120px;
  margin-left: 50px;
}

.message {
  display: flex;
  align-items: center;
}

input[type="text"] {
  position: fixed;
  width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-family: "SOYO Maple Regular";
}

.chat-input {
  position: fixed;
  margin-top: 20px;
  margin-left: 60px;
  display: flex;
  height: 50px;
  width: 700px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  color: #333;
  border: none;
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}


.chat-input.slide-down {
  transform: translateY(300%);
}


@media screen and (max-width: 800px) {
  .chat-container {
    width: 90%;
    margin: 0 auto;
  }

  .chat-list {
    width: 90%;
    margin: 0 auto;
    max-height: 300px;
  }

  .title {
    margin-left: 0;
  }

  .chat-input {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1200px) {
  .chat-container {
    width: 70%;
    margin: 0 auto;
  }

  .chat-list {
    width: 70%;
    margin: 0 auto;
    max-height: 400px;
  }

  .title {
    margin-left: 0;
  }

  .chat-input {
    width: 70%;
    margin: 0 auto;
  }
}