/* App.css */

.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

/* 반응형 스타일 */
@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .kakao {
    display: none !important; /* !important를 추가하여 강제로 숨김 */
  }

  .logo {
    width: 150px;
    margin: auto; /* 가운데 정렬 */
    margin-bottom: 20px; /* 모바일에서 여백 추가 */
  }
}