.app {
  display: block;
  
}

.logo {
  width: 150px;
  height: auto;
  margin: 20px;
}


.mainlogo {
  opacity: 0;
}

.fade-in-slide {
  animation: fade-in-slide-animation 1s ease forwards;
}

@keyframes fade-in-slide-animation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.robot-container {
  position: absolute;
  bottom: 50px; /* 원하는 위치로 조정하세요 */
  left: 55%;
  transform: translateX(-50%);
  
}
